Bpm_Sor_RemittanceRemittance_Transaction.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittanceremittance_transaction" xmlns:bpm_sor_remittanceremittance_transaction="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittanceremittance_transaction" xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata" xmlns:bpm_sor_remittanceaccounting_information="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittanceaccounting_information" xmlns:bpm_sor_remittancedocument="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittancedocument" xmlns:bpm_sor_remittancegeneral_information="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittancegeneral_information" xmlns:bpm_sor_remittanceresource_status="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittanceresource_status" xmlns:bpm_sor_remittancet24_entry_information="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittancet24_entry_information">
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittanceaccounting_information" schemaLocation="Bpm_Sor_RemittanceAccounting_Information.xsd"/>
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittancedocument" schemaLocation="Bpm_Sor_RemittanceDocument.xsd"/>
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittancegeneral_information" schemaLocation="Bpm_Sor_RemittanceGeneral_Information.xsd"/>
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittanceresource_status" schemaLocation="Bpm_Sor_RemittanceResource_Status.xsd"/>
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/bpm_sor_remittancet24_entry_information" schemaLocation="Bpm_Sor_RemittanceT24_Entry_Information.xsd"/>
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata" schemaLocation="JDBCASI.xsd"/>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability" version="7.5.0.5"/>
</xsd:appinfo>
</xsd:annotation>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="commonj.connector.asi">
<asi:annotationSet xmlns:asi="commonj.connector.asi" asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType name="Bpm_Sor_RemittanceRemittance_Transaction">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCBusinessObjectTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:TableName>&quot;BPM_SOR_REMITTANCE&quot;.&quot;REMITTANCE_TRANSACTION&quot;</jdbcasi:TableName>
<jdbcasi:TableNameEnv></jdbcasi:TableNameEnv>
</jdbcasi:JDBCBusinessObjectTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence minOccurs="1" maxOccurs="1">
<xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:ColumnName>&quot;ID&quot;</jdbcasi:ColumnName>
<jdbcasi:PrimaryKey>true</jdbcasi:PrimaryKey>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="gi_id" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:ColumnName>&quot;GI_ID&quot;</jdbcasi:ColumnName>
<jdbcasi:PrimaryKey>false</jdbcasi:PrimaryKey>
<jdbcasi:ForeignKey>general_informationobj/id</jdbcasi:ForeignKey>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="accounting_id" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:ColumnName>&quot;ACCOUNTING_ID&quot;</jdbcasi:ColumnName>
<jdbcasi:PrimaryKey>false</jdbcasi:PrimaryKey>
<jdbcasi:ForeignKey>accounting_informationobj/id</jdbcasi:ForeignKey>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="t24_id" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:ColumnName>&quot;T24_ID&quot;</jdbcasi:ColumnName>
<jdbcasi:PrimaryKey>false</jdbcasi:PrimaryKey>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="document_id" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:ColumnName>&quot;DOCUMENT_ID&quot;</jdbcasi:ColumnName>
<jdbcasi:PrimaryKey>false</jdbcasi:PrimaryKey>
<jdbcasi:ForeignKey>documentobj/id</jdbcasi:ForeignKey>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="rs_id" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:ColumnName>&quot;RS_ID&quot;</jdbcasi:ColumnName>
<jdbcasi:PrimaryKey>false</jdbcasi:PrimaryKey>
<jdbcasi:ForeignKey>resource_statusobj/id</jdbcasi:ForeignKey>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ai_id" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:ColumnName>&quot;AI_ID&quot;</jdbcasi:ColumnName>
<jdbcasi:PrimaryKey>false</jdbcasi:PrimaryKey>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="accounting_informationobj" type="bpm_sor_remittanceaccounting_information:Bpm_Sor_RemittanceAccounting_Information" nillable="true" minOccurs="1" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:KeepRelationship>true</jdbcasi:KeepRelationship>
<jdbcasi:Ownership>true</jdbcasi:Ownership>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="documentobj" type="bpm_sor_remittancedocument:Bpm_Sor_RemittanceDocument" nillable="true" minOccurs="1" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:KeepRelationship>true</jdbcasi:KeepRelationship>
<jdbcasi:Ownership>true</jdbcasi:Ownership>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="general_informationobj" type="bpm_sor_remittancegeneral_information:Bpm_Sor_RemittanceGeneral_Information" nillable="true" minOccurs="1" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:KeepRelationship>true</jdbcasi:KeepRelationship>
<jdbcasi:Ownership>true</jdbcasi:Ownership>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="resource_statusobj" type="bpm_sor_remittanceresource_status:Bpm_Sor_RemittanceResource_Status" nillable="true" minOccurs="1" maxOccurs="1">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:KeepRelationship>true</jdbcasi:KeepRelationship>
<jdbcasi:Ownership>true</jdbcasi:Ownership>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="t24_entry_informationobj" type="bpm_sor_remittancet24_entry_information:Bpm_Sor_RemittanceT24_Entry_Information" nillable="true" minOccurs="1" maxOccurs="unbounded">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:JDBCAttributeTypeMetadata xmlns:jdbcasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/jdbc/metadata">
<jdbcasi:KeepRelationship>true</jdbcasi:KeepRelationship>
<jdbcasi:Ownership>true</jdbcasi:Ownership>
</jdbcasi:JDBCAttributeTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

</xsd:schema>